EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_DEFAULT_EMAIL=''
DOCU_SIGN_AUTH_URL=""
DOCU_SIGN_AUTH_BASE_URL=""
DOCU_SIGN_HOST_URL=""
DOCU_SIGN_CLIENT_ID=""
DOCU_SIGN_CLIENT_USER_ID=""
DOCU_SIGN_ACCOUNT_ID=""
XERO_CLIENT_ID=""
XERO_CLIENT_SECRET=""
CODAT_API_KEY=''
CODAT_AUTHORIZATION_KEY=''